.cart-item {
    margin: 20px 0;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    column-gap: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 gray;
    min-width: 50vw;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
}

.cart-item-name {
    font-size: large;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

.cart-item-price {
    font-size: 13px;
    color: gray;
}

.cart-item:hover {
    transform: scale(1.01);
    background-color: rgba(1, 141, 255, 0.13);
}

.deleteBtn {
    color: rgb(255, 53, 53);
    background-color: transparent;
    border: none;
}

.quantity {
    display: flex;
    column-gap: 8px;
}

.add, .minus {
    height: 30px;
    width: 30px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
}

.minus {
    background-color: red;
}

.item-quantity {
    padding: 0 10px;
    height: 30px;
    min-width: 30px;
    background-color: rgba(116, 116, 116, 0.336);
    line-height: 30px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}