header {
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.466);
    position: sticky;
    top: 0;
}

.logo {
    color: dodgerblue;
    font-size: 32px;
    text-decoration: none;
}

.right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cart {
    padding: 0 10px;
    font-weight: 800;
    color:black;
    text-decoration: none;
}

.search-box {
    padding: 0px 20px;
    height: 35px;
    width: 200px;
    border: solid 2px rgba(128, 128, 128, 0.493);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.search-box:focus {
    border: solid 2px dodgerblue;
}

.btn {  
    padding: 10px 20px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover{
    cursor: pointer;
}