* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(148, 202, 255, 0.164);
}

.logo-box {
    padding: 20px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: dodgerblue;
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    border-radius: 20px 5px 20px 5px;
}

.signin-box {
    margin-bottom: 50px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: rgb(244, 255, 248);
    box-shadow: 0 0 5px 2px rgba(61, 61, 61, 0.281);
    border-radius: 5px;
}

.signin-title {
    font-size: 24px;
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.inp {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: solid 2px gray;
    background-color: #eefff423;
    border-radius: 5px;
    outline: none;
}

.inp:focus {
    border: solid 2px rgb(67, 161, 255);
}

.forgot{
    font-size: 12px;
    color: dodgerblue;
}

.login-btn {
    padding: 7px 13px;
    width: 100px;
    font-size: 16px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
}

.login-btn:focus {
    outline: solid 3px rgba(22, 131, 241, 0.493);
}

.error {
    margin: 20px 0;
    padding: 10px 20px;
    color: red;
    background-color: rgb(255, 218, 218);
    border: none;
    border-radius: 5px;
}