.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 gray;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card > img {
    width: 300px;
    height: 200px;
    background-color: green;
}

.data {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.rating {
    display: flex;
    column-gap: 10px;
}
.link{
    text-decoration: none;
}

.star-fill {
    color: rgb(255, 230, 0);
}

.star-blank {
    color: rgba(184, 184, 184, 0.37);
}