.item {
    margin: 20px 0;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 gray;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: large;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

.item-price {
    font-size: 13px;
    color: gray;
}

.item:hover {
    transform: scale(1.01);
    background-color: rgba(1, 141, 255, 0.13);
}